# DAT test

In [26]:
import pandas as pd
import plotly.express as px
import os
import sqlite3
import hashlib

In [171]:
# dataFolder = "/Users/falkowork/Downloads/2021_wch_baku/men/"
# db_name = "2021_world_championships_men"
dataFolder = "/Users/falkowork/Downloads/2021_wch_baku/women/"
db_name = "2021_world_championships_women"
sortedList = sorted(os.listdir(dataFolder))
header = ('Start Number', "Gender", "Country", "Phase", "Routine", "Name", "Hash")
df_main = pd.DataFrame(columns=header)
connection = sqlite3.connect("trampoline.db")
cursor = connection.cursor()

In [172]:
idx = 0
for dataset in sortedList:
    if not ".DS_Store" in dataset:
        idx += 1
        # print(idx)
        datContent = [i.strip().split() for i in open(dataFolder + dataset).readlines()]
        trampoline_data = datContent[4:14]
        athelte_data = datContent[68:76]
        df_trampoline = pd.DataFrame(trampoline_data)
        df_trampoline.drop([0, 1, 3], axis=1,inplace=True)
        header = ("T", "H", "x", "y")
        df_trampoline.columns = header
        df = pd.DataFrame(athelte_data)
        df.drop([0], axis=1,inplace=True)
        
            
        df = df.T
        df.columns = df.iloc[0].values
        df.drop([1], axis=0,inplace=True)
        df.reset_index(inplace=True)
        if isinstance(df["firstName"][1], str):
            df.iloc[0,3] = df["firstName"][0] + ' ' + df["firstName"][1]
        elif isinstance(df["lastName"][1], str):
            df.iloc[0,5] = df["lastName"][0] + ' ' + df["lastName"][1]

        if df["routine"][1] == "1":
            df.iloc[0,8] = "1st"
        elif df["routine"][1] == "2":
            df.iloc[0,8] = "2nd"

        if df["phase"][0] == "Individual":
            df.iloc[0,7] = "Final"

        df.drop([1], axis=0,inplace=True)

        df["Name"] = df["lastName"] + " " + df["firstName"]
        df.drop(['index', 'discipline', 'lastName', 'firstName'], axis=1,inplace=True)
        hash_val = hashlib.md5(dataset.encode('UTF-8')).hexdigest()
        df["Hash"] = hash_val

        df_trampoline.to_sql(name=hash_val, con=connection, if_exists='replace')

        header = ('Start Number', "Gender", "Country", "Phase", "Routine", "Name", "Hash")
        df.columns = header
        df_main = pd.concat([df_main, df])

df_main.to_sql(name=db_name, con=connection, if_exists='replace')
connection.close()

In [117]:
trampoline_data = datContent[4:14]
df_trampoline = pd.DataFrame(trampoline_data)
df_trampoline.drop([0, 1, 3], axis=1,inplace=True)
df_trampoline

      2     4     5     6     7      8
0   0.1   0.1   0.9  0.12  0.88  0.050
1  None  None  None  None  None   None
2  None  None  None  None  None   None
3  None  None  None  None  None   None
4  None  None  None  None  None   None
5  None  None  None  None  None   None
6  None  None  None  None  None   None
7  None  None  None  None  None   None
8  None  None  None  None  None   None
9  None  None  None  None  None   None

# European Championship 2022

## Men

In [173]:
dataFolder = "/Users/falkowork/Downloads/2022_euch_rimini/men/"
db_name = "2022_european_championships_men"
sortedList = sorted(os.listdir(dataFolder))
header = ('Start Number', "Gender", "Country", "Phase", "Routine", "Name", "Hash")
df_main = pd.DataFrame(columns=header)
connection = sqlite3.connect("trampoline.db")
cursor = connection.cursor()

In [174]:
idx = 0
exlusion_list = ['20220605_123050_Qualification 2_SENIORS_UKR_Routine 1_DAVYDENKO Anton.dat', '20220605_122818_Qualification 2_SENIORS_ESP_Routine 1_MARTIN Jorge.dat']
for dataset in sortedList:
    if (not ".DS_Store" in dataset) and (dataset not in exlusion_list):
        if (not '_____' in dataset):
            idx += 1
            # print(idx)
            datContent = [i.strip().split() for i in open(dataFolder + dataset).readlines()]
            trampoline_data = datContent[4:14]
            athlete_data = datContent[68:76]
            df_trampoline = pd.DataFrame(trampoline_data)
            which_competition = int(datContent[0][-1])
            if (len(df_trampoline.columns) > 2) and (which_competition < 3):
                if (athlete_data[3][-1] == 'SENIORS') and (athlete_data[5][2] is not 'Team'):
                    df_trampoline.drop([0, 1, 3], axis=1,inplace=True)
                    header = ("T", "H", "x", "y")
                    df_trampoline.columns = header
                    routine_str = ('1st', '2nd')
                    rawname = athlete_data[0][2:]
                    rawname = ' '.join([x.capitalize() for x in rawname])
                    noc = athlete_data[4][-1]
                    if athlete_data[5][-1] == '2':
                        phase = 'Semi'
                    else:
                        phase = athlete_data[5][-2]
                    routine = routine_str[int(athlete_data[6][-1])-1]
                    startnumber = 0
                    gender = 'Men'
                    hash_val = hashlib.md5(dataset.encode('UTF-8')).hexdigest()
                    df = pd.DataFrame((startnumber, gender, noc, phase, routine, rawname, hash_val))
                    df = df.T

                    df_trampoline.to_sql(name=hash_val, con=connection, if_exists='replace')

                    header = ('Start Number', "Gender", "Country", "Phase", "Routine", "Name", "Hash")
                    df.columns = header
                    df_main = pd.concat([df_main, df])

df_main.to_sql(name=db_name, con=connection, if_exists='replace')
connection.close()

## Women

In [175]:
dataFolder = "/Users/falkowork/Downloads/2022_euch_rimini/women/"
db_name = "2022_european_championships_women"
sortedList = sorted(os.listdir(dataFolder))
header = ('Start Number', "Gender", "Country", "Phase", "Routine", "Name", "Hash")
df_main = pd.DataFrame(columns=header)
connection = sqlite3.connect("trampoline.db")
cursor = connection.cursor()

In [176]:
idx = 0
exlusion_list = []
for dataset in sortedList:
    if (not ".DS_Store" in dataset) and (dataset not in exlusion_list):
        if (not '_____' in dataset):
            idx += 1
            # print(idx)
            datContent = [i.strip().split() for i in open(dataFolder + dataset).readlines()]
            trampoline_data = datContent[4:14]
            athlete_data = datContent[68:76]
            df_trampoline = pd.DataFrame(trampoline_data)
            which_competition = int(datContent[0][-1])
            if (len(df_trampoline.columns) > 2) and (which_competition < 3):
                if (athlete_data[3][-1] == 'SENIORS') and (athlete_data[5][2] is not 'Team'):
                    df_trampoline.drop([0, 1, 3], axis=1,inplace=True)
                    header = ("T", "H", "x", "y")
                    df_trampoline.columns = header
                    routine_str = ('1st', '2nd')
                    rawname = athlete_data[0][2:]
                    rawname = ' '.join([x.capitalize() for x in rawname])
                    noc = athlete_data[4][-1]
                    if athlete_data[5][-1] == '2':
                        phase = 'Semi'
                    else:
                        phase = athlete_data[5][-2]
                    routine = routine_str[int(athlete_data[6][-1])-1]
                    startnumber = 0
                    gender = 'Women'
                    hash_val = hashlib.md5(dataset.encode('UTF-8')).hexdigest()
                    df = pd.DataFrame((startnumber, gender, noc, phase, routine, rawname, hash_val))
                    df = df.T

                    df_trampoline.to_sql(name=hash_val, con=connection, if_exists='replace')

                    header = ('Start Number', "Gender", "Country", "Phase", "Routine", "Name", "Hash")
                    df.columns = header
                    df_main = pd.concat([df_main, df])

df_main.to_sql(name=db_name, con=connection, if_exists='replace')
connection.close()

In [160]:
athlete_data[5][2]

'Final'

In [103]:
routine_str = ('1st', '2nd')
rawname = athelte_data[0][2:]
rawname = ' '.join([x.capitalize() for x in rawname])
noc = athelte_data[4][-1]
phase = athelte_data[5][-2]
routine = routine_str[int(athelte_data[6][-1])-1]
startnumber = 0
gender = 'Men'

In [104]:
df = pd.DataFrame((startnumber, gender, noc, phase, routine, rawname))

In [105]:
df = df.T
df.columns = ('Start Number', 'Gender', 'Country', 'Phase', 'Routine', 'Name')

In [106]:
df

  Start Number Gender Country          Phase Routine             Name
0            0    Men     CZE  Qualification     1st  Cervinka Oliver