# DAT test

In [1]:
import pandas as pd
import plotly.express as px
import os
import sqlite3
import hashlib

In [16]:
# dataFolder = "/Users/falkowork/Downloads/2021_wch_baku/men/"
# db_name = "2021_world_championships_men"
dataFolder = "/Users/falkowork/Downloads/2021_wch_baku/women/"
db_name = "2021_world_championships_women"
sortedList = sorted(os.listdir(dataFolder))
header = ('Start Number', "Gender", "Country", "Phase", "Routine", "Name", "Hash")
df_main = pd.DataFrame(columns=header)
connection = sqlite3.connect("trampoline.db")
cursor = connection.cursor()

In [17]:
idx = 0
for dataset in sortedList:
    if not ".DS_Store" in dataset:
        idx += 1
        # print(idx)
        datContent = [i.strip().split() for i in open(dataFolder + dataset).readlines()]
        trampoline_data = datContent[4:14]
        athelte_data = datContent[68:76]
        df_trampoline = pd.DataFrame(trampoline_data)
        df_trampoline.drop([0, 1, 3], axis=1,inplace=True)
        header = ("T", "H", "x", "y")
        df_trampoline.columns = header
        df = pd.DataFrame(athelte_data)
        df.drop([0], axis=1,inplace=True)
        
            
        df = df.T
        df.columns = df.iloc[0].values
        df.drop([1], axis=0,inplace=True)
        df.reset_index(inplace=True)
        if isinstance(df["firstName"][1], str):
            df.iloc[0,3] = df["firstName"][0] + ' ' + df["firstName"][1]
        elif isinstance(df["lastName"][1], str):
            df.iloc[0,5] = df["lastName"][0] + ' ' + df["lastName"][1]

        if df["routine"][1] == "1":
            df.iloc[0,8] = "1st"
        elif df["routine"][1] == "2":
            df.iloc[0,8] = "2nd"

        if df["phase"][0] == "Individual":
            df.iloc[0,7] = "Final"

        df.drop([1], axis=0,inplace=True)

        df["Name"] = df["lastName"] + " " + df["firstName"]
        df.drop(['index', 'discipline', 'lastName', 'firstName'], axis=1,inplace=True)
        hash_val = hashlib.md5(dataset.encode('UTF-8')).hexdigest()
        df["Hash"] = hash_val

        df_trampoline.to_sql(name=hash_val, con=connection)

        header = ('Start Number', "Gender", "Country", "Phase", "Routine", "Name", "Hash")
        df.columns = header
        df_main = pd.concat([df_main, df])

df_main.to_sql(name=db_name, con=connection)
connection.close()

In [117]:
trampoline_data = datContent[4:14]
df_trampoline = pd.DataFrame(trampoline_data)
df_trampoline.drop([0, 1, 3], axis=1,inplace=True)
df_trampoline

      2     4     5     6     7      8
0   0.1   0.1   0.9  0.12  0.88  0.050
1  None  None  None  None  None   None
2  None  None  None  None  None   None
3  None  None  None  None  None   None
4  None  None  None  None  None   None
5  None  None  None  None  None   None
6  None  None  None  None  None   None
7  None  None  None  None  None   None
8  None  None  None  None  None   None
9  None  None  None  None  None   None

In [171]:
athelte_data

[['-0.069', 'bib', '26'],
 ['-0.069', 'discipline', 'Trampoline'],
 ['-0.069', 'firstName', 'Langyu'],
 ['-0.069', 'gender', 'Men'],
 ['-0.069', 'lastName', 'Yan'],
 ['-0.069', 'noc', 'CHN'],
 ['-0.069', 'phase', 'Individual', 'Final']]

In [62]:
df_trampoline[df_trampoline==None] =

In [98]:
df = pd.DataFrame(athelte_data)
df.drop([0], axis=1,inplace=True)
df = df.T
df.columns = df.iloc[0].values
df.drop([1], axis=0,inplace=True)
df.reset_index(inplace=True)
df["firstName"].loc[0] = df["firstName"][0] + ' ' + df["firstName"][1]
df.drop([1], axis=0,inplace=True)

In [215]:
df

,bib,gender,noc,phase,routine,Name,Hash
0,235,Men,BEL,Qualification,1st,Debacker Simon,27608db1b3824c165f99852281081525

In [109]:
type(df["lastName"][1])

str

In [123]:
dataset

'20211119_111128_TUR1_TUR_Turkey_Routine 1.dat'

In [133]:
dataset

'20211120_151637_126_GBR_Perzamanos_Zak_Routine 1.dat'

In [136]:
df_main

,Start Number,Gender,Country,Phase,Name,Data
0,235,Men,BEL,Qualification,Simon Debacker,T H x y 0 1.885 1.0 43 ...
0,180,Men,TUR,Qualification,Gurkan Mutlu,T H x y 0 1.995 1.0 12 ...
0,68,Men,POR,Qualification,Pedro Ferreira,T H x y 0 1.970 1.0 -12 ...
0,144,Men,JPN,Qualification,Ryosuke Sakai,T H x y 0 1.925 1.0 -11 ...
0,241,Men,TUR,Qualification,Emre Yagmur,T H x y 0 1.730 1.0 -...
...,...,...,...,...,...,...
0,215,Men,JPN,Individual,Ryusei Nishioka,T H x y 0 1.860 1.0 37 ...
0,146,Men,BLR,Individual,Andrei Builou,T H x y 0 1.805 1.0 41 ...
0,224,Men,BLR,Individual,Aleh Rabtsau,T H x y 0 1.880 0.9 64 ...
0,20,Men,NZL,Individual,Dylan Schmidt,T H x y 0 1.760 1.0 -11 1...
0,26,Men,CHN,Individual,Langyu Yan,T H x y 0 1.875 1.0 -4 ...

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning:

The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.

InterfaceError: Error binding parameter 6 - probably unsupported type.

In [148]:
hash_object = hashlib.md5(dataset.encode('UTF-8'))
print(hash_object.hexdigest())

8a6c531f8df79c697d569b2156902639

In [144]:
'd{0}'.format(dataset)

'd20211121_162556_26_CHN_Yan_Langyu_Routine 1.dat'

In [ ]:
hash_object = hashlib.md5(b'Hello World')
print(hash_object.hexdigest())

In [167]:
sql = "DROP TABLE '2021_world_championship_men'"

cursor.execute(sql)

OperationalError: no such table: 2021_world_championship_men

In [168]:
connection.close()

In [12]:
dataset = "20211118_101605_235_BEL_Debacker_Simon_Routine 1.dat"
datContent = [i.strip().split() for i in open(dataFolder + dataset).readlines()]
trampoline_data = datContent[4:14]
athelte_data = datContent[68:76]
df_trampoline = pd.DataFrame(trampoline_data)
df_trampoline.drop([0, 1, 3], axis=1,inplace=True)
header = ("T", "H", "x", "y")
df_trampoline.columns = header
df = pd.DataFrame(athelte_data)
df.drop([0], axis=1,inplace=True)

    
df = df.T
df.columns = df.iloc[0].values
df.drop([1], axis=0,inplace=True)
df.reset_index(inplace=True)
# if isinstance(df["firstName"][1], str):
#     df.iloc[0,3] = df["firstName"][0] + ' ' + df["firstName"][1]
# elif isinstance(df["lastName"][1], str):
#     df.iloc[0,5] = df["lastName"][0] + ' ' + df["lastName"][1]
# if df["routine"][1] == "1":
#     df.iloc[0,8] = "1st"
# elif df["routine"][1] == "2":
#     df.iloc[0,8] = "2nd"
# df.drop([1], axis=0,inplace=True)
# df["Name"] = df["lastName"] + " " + df["firstName"]
# df.drop(['index', 'discipline', 'lastName', 'firstName'], axis=1,inplace=True)

In [173]:
df_trampoline = pd.DataFrame(trampoline_data)

In [178]:
df = pd.DataFrame(athelte_data)

In [211]:
df

,index,bib,discipline,firstName,gender,lastName,noc,phase,routine
0,2,235,Trampoline,Simon,Men,Debacker,BEL,Qualification,1st

In [204]:
df["routine"]

0          Routine
Routine        1st
Name: routine, dtype: object

In [4]:
df_main.to_sql(name=db_name, con=connection)
connection.close()

In [5]:
df

,Start Number,Gender,Country,Phase,Routine,Name,Hash
0,93,Women,CHN,Individual,1st,Cao Yunzhu,02368519f422700ed97e630c460d83a5

In [13]:
df

,index,bib,discipline,firstName,gender,lastName,noc,phase,routine
0,2,235,Trampoline,Simon,Men,Debacker,BEL,Qualification,Routine
1,3,None,None,None,None,None,None,None,1