# From PDF to csv

### Imports

In [7]:

import pandas as pd
import os
from more_itertools import strip

### Run shell script to extract

In [79]:
n_jumps = 2
# first_page = '28'
# last_page = '30'
# output_name = '../GTR_2021WCH_Baku_Results_Women_Qual'
# input_name = '"../2021 WCH_Baku/Load_Comp_Data.pdf"'

# first_page = '34'
# last_page = '37'
# output_name = '2022_Rimini_Results_Women_Qual'
# input_name = '"28TH EUROPEAN CHAMPIONSHIPS IN TRAMPOLINE GYMNASTICS 2022 Rimini Media.pdf"'

# first_page = '45'
# last_page = '45'
# output_name = '2022_Rimini_Results_Women_Qual2'
# input_name = '"28TH EUROPEAN CHAMPIONSHIPS IN TRAMPOLINE GYMNASTICS 2022 Rimini Media.pdf"'

first_page = '48'
last_page = '48'
output_name = '2022_Rimini_Results_Women_Final'
input_name = '"28TH EUROPEAN CHAMPIONSHIPS IN TRAMPOLINE GYMNASTICS 2022 Rimini Media.pdf"'

os.system('gs -sDEVICE=txtwrite -dFirstPage=' + first_page + ' -dLastPage=' + last_page + ' -o ' + output_name + '.txt ' + input_name)

GPL Ghostscript 9.50 (2019-10-15)
Copyright (C) 2019 Artifex Software, Inc.  All rights reserved.
This software is supplied under the GNU AGPLv3 and comes with NO WARRANTY:
see the file COPYING for details.
Processing pages 48 through 48.
Page 48
Loading NimbusSans-Regular font from /usr/local/share/ghostscript/9.50/Resource/Font/NimbusSans-Regular... 5186120 3642336 4374344 2890677 4 done.

0

### Read useful document lines

International variant

In [74]:
file1 = open(output_name + '.txt', 'r')
Lines = file1.readlines()
  
count = 0
entry_counts = []
# Strips the newline character and more
for line in Lines:
    # stripped_line = line.strip()
    if "1st" in line:
        entry_counts.append(count)
    elif "2nd" in line:
        entry_counts.append(count)
    count += 1
    # print("Line{}: {}".format(entry_counts, line))
print(entry_counts)

[]

Europe variant

In [80]:
file1 = open(output_name + '.txt', 'r')
Lines = file1.readlines()
  
count = 0
rank_count = 1
entry_counts = []
# Strips the newline character and more
for line in Lines:
    # stripped_line = line.strip()
    stripped_line = line.strip().split()
    if stripped_line[0] == str(rank_count) and len(stripped_line) > 8:
        entry_counts.append(count)
        rank_count += 1
    count += 1
print(entry_counts)

[9, 10, 11, 12, 13, 14, 15, 16]

In [24]:
header = ("Rank", "Routine", "Name", "D", "E", "T", "H", "Pen.", "Total", "End", "Country", "Qualified")
df = pd.DataFrame(columns=header)

International

In [18]:

df_pos = 0
for entry in entry_counts:
    
    if df_pos%2 == 0:
        corrector = 1
    else:
        corrector = -1

    current_entry = Lines[entry].strip().split()
    corrected_entry = Lines[entry+corrector].strip().split()

    if len(current_entry) is 7:
        penalty = 0.0
        total = current_entry[5]
    else:
        penalty = current_entry[5]
        total = current_entry[6]

    if len(corrected_entry) is 6:
        if len(corrected_entry[-1]) > 3:
            qualified = ""
            name = corrected_entry[1] + " " + corrected_entry[2] + " " + corrected_entry[3]
            country = corrected_entry[5]
            end_added = corrected_entry[4]
        else:
            qualified = corrected_entry[5]
            name = corrected_entry[1] + " " + corrected_entry[2]
            country = corrected_entry[4]
            end_added = corrected_entry[3]
    elif len(corrected_entry) is 7:
        qualified = corrected_entry[6]
        name = corrected_entry[1] + " " + corrected_entry[2] + " " + corrected_entry[3]
        country = corrected_entry[5]
        end_added = corrected_entry[4]
    else:
        qualified = ""
        name = corrected_entry[1] + " " + corrected_entry[2]
        country = corrected_entry[4]
        end_added = corrected_entry[3]

    df.loc[df_pos] = (int(corrected_entry[0]),
                      current_entry[0],
                      name,
                      float(current_entry[1]), 
                      float(current_entry[2]),
                      float(current_entry[3]),
                      float(current_entry[4]),
                      float(penalty),
                      float(total),
                      country,
                      end_added,
                      qualified
                      )  
    
    if df_pos == len(entry_counts)-3:
        break
    df_pos += 1

ValueError: could not convert string to float: 'PAGE'

Europe

In [61]:
df_pos = 0
for entry in entry_counts:

    corrector = 1
    current_entry = Lines[entry].strip().split()
    corrected_entry = Lines[entry+corrector].strip().split()
    
    if len(current_entry) < 13:
        rank = int(current_entry[0])
        routine = current_entry[4]
        name = current_entry[1] + ' ' + current_entry[2]
        d = 0.00
        e = 0.00
        t = 0.00
        h = 0.00
        pen = 0.00
        total = 0.00
        end_score = current_entry[11]
        country = current_entry[3]
        if current_entry[-1].isupper():
            qualified = current_entry[-1]
        else:
            qualified = ' '
    elif current_entry[3].isupper() == False:
        rank = int(current_entry[0])
        routine = current_entry[5]
        name = current_entry[1] + ' ' + current_entry[2] + ' ' + current_entry[3]
        d = current_entry[8]
        e = current_entry[6]
        t = current_entry[7]
        h = current_entry[9]
        pen = current_entry[12]
        total = current_entry[11]
        end_score = current_entry[13]
        country = current_entry[4]
        if current_entry[-1].isupper():
            qualified = current_entry[-1]
        else:
            qualified = ' '
    else:
        rank = int(current_entry[0])
        routine = current_entry[4]
        name = current_entry[1] + ' ' + current_entry[2]
        d = current_entry[7]
        e = current_entry[5]
        t = current_entry[6]
        h = current_entry[8]
        pen = current_entry[11]
        total = current_entry[10]
        end_score = current_entry[12]
        country = current_entry[3]
        if current_entry[-1].isupper():
            qualified = current_entry[-1]
        else:
            qualified = ' '


    df.loc[df_pos] = (rank,
                      routine,
                      name,
                      d, 
                      e,
                      t,
                      h,
                      pen,
                      end_score,
                      country,
                      end_added,
                      qualified
                      )  
    
    df_pos += 1
    if len(corrected_entry) < 8:
        routine = corrected_entry[0]
        d = 0.00
        e = 0.00
        t = 0.00
        h = 0.00
        pen = 0.00
        total = 0.00
        end_score = current_entry[11]
    elif len(current_entry) < 13:
        routine = corrected_entry[0]
        d = corrected_entry[3]
        e = corrected_entry[1]
        t = corrected_entry[2]
        h = corrected_entry[4]
        pen = corrected_entry[7]
        total = corrected_entry[6]
        end_score = current_entry[11]
    else:
        routine = corrected_entry[0]
        d = corrected_entry[3]
        e = corrected_entry[1]
        t = corrected_entry[2]
        h = corrected_entry[4]
        pen = corrected_entry[7]
        total = corrected_entry[6]
        end_score = current_entry[12]

    df.loc[df_pos] = (rank,
                      routine,
                      name,
                      d, 
                      e,
                      t,
                      h,
                      pen,
                      end_score,
                      country,
                      end_added,
                      qualified
                      )  
    
    df_pos += 1
    # header = ("Rank", "Routine", "Name", "D", "E", "T", "H", "Pen.", "Total", "End", "Country", "Qualified")

Europe one jump

In [81]:
header = ("Rank", "Routine", "Name", "D", "E", "T", "H", "Pen.", "Total", "Country", "Qualified")
df = pd.DataFrame(columns=header)

df_pos = 0
for entry in entry_counts:


    current_entry = Lines[entry].strip().split()

    if len(current_entry) < 13:
        rank = int(current_entry[0])
        routine = current_entry[4]
        name = current_entry[1] + ' ' + current_entry[2]
        d = 0.00
        e = 0.00
        t = 0.00
        h = 0.00
        pen = 0.00
        total = 0.00
        country = current_entry[3]
        if current_entry[-1].isupper():
            qualified = current_entry[-1]
        else:
            qualified = ' '
    elif current_entry[3].isupper() == False:
        rank = int(current_entry[0])
        routine = current_entry[5]
        name = current_entry[1] + ' ' + current_entry[2] + ' ' + current_entry[3]
        d = current_entry[8]
        e = current_entry[6]
        t = current_entry[7]
        h = current_entry[9]
        pen = current_entry[12]
        total = current_entry[11]
        country = current_entry[4]
        if current_entry[-1].isupper():
            qualified = current_entry[-1]
        else:
            qualified = ' '
    else:
        rank = int(current_entry[0])
        routine = current_entry[4]
        name = current_entry[1] + ' ' + current_entry[2]
        d = current_entry[7]
        e = current_entry[5]
        t = current_entry[6]
        h = current_entry[8]
        pen = current_entry[11]
        total = current_entry[10]
        country = current_entry[3]
        if current_entry[-1].isupper():
            qualified = current_entry[-1]
        else:
            qualified = ' '


    df.loc[df_pos] = (rank,
                      routine,
                      name,
                      d, 
                      e,
                      t,
                      h,
                      pen,
                      total,
                      country,
                      qualified
                      )  
    
    df_pos += 1
    # header = ("Rank", "Routine", "Name", "D", "E", "T", "H", "Pen.", "Total", "End", "Country", "Qualified")

Europe final

In [86]:
header = ("Rank", "Routine", "Name", "D", "E", "T", "H", "Pen.", "Total", "Country")
df = pd.DataFrame(columns=header)

df_pos = 0
for entry in entry_counts:

    corrector = 1
    current_entry = Lines[entry].strip().split()
    corrected_entry = Lines[entry+corrector].strip().split()

    if len(current_entry) < 11:
        rank = int(current_entry[0])
        routine = current_entry[4]
        name = current_entry[1] + ' ' + current_entry[2]
        d = 0.00
        e = 0.00
        t = 0.00
        h = 0.00
        pen = 0.00
        total = 0.00
        country = current_entry[3]
    elif current_entry[3].isupper() == False:
        rank = int(current_entry[0])
        routine = current_entry[5]
        name = current_entry[1] + ' ' + current_entry[2] + ' ' + current_entry[3]
        d = current_entry[8]
        e = current_entry[6]
        t = current_entry[7]
        h = current_entry[9]
        pen = current_entry[10]
        total = current_entry[11]
        country = current_entry[4]
    else:
        rank = int(current_entry[0])
        routine = current_entry[4]
        name = current_entry[1] + ' ' + current_entry[2]
        d = current_entry[7]
        e = current_entry[5]
        t = current_entry[6]
        h = current_entry[8]
        pen = current_entry[9]
        total = current_entry[10]
        country = current_entry[3]


    df.loc[df_pos] = (rank,
                      routine,
                      name,
                      d, 
                      e,
                      t,
                      h,
                      pen,
                      total,
                      country,
                      qualified
                      )  
    
    df_pos += 1
    # header = ("Rank", "Routine", "Name", "D", "E", "T", "H", "Pen.", "Total", "End", "Country", "Qualified")

In [87]:

df.to_csv(output_name + ".csv", index=False)

In [68]:
qualified

'G'

In [78]:
output_name

'2022_Rimini_Results_Women_Qual2'