# Trampoline Database

### Imports

In [1]:
import pandas as pd
import numpy as np
import sqlite3

### Connect to database

In [2]:
connection = sqlite3.connect("trampoline.db")
cursor = connection.cursor()

df = pd.read_sql("SELECT * from ranklists", connection)

In [7]:
df_test = pd.read_sql("SELECT * from ranklists where name='SONGHURST Isabelle'", connection)

In [8]:
df_test

,index,Rank,Routine,Name,D,E,T,H,Pen.,Total,End,Country,Qualified,Event,Phase,Year,Location
0,2,2,1st,SONGHURST Isabelle,13.80,16.000,15.410,9.40,0.000,54.610,54.610,GBR,G,European Championships,qual,2022,Rimini
1,3,2,2nd,SONGHURST Isabelle,3.00,3.000,3.340,1.80,0.000,11.140,54.610,GBR,G,European Championships,qual,2022,Rimini
2,134,23,1,SONGHURST Isabelle,3.00,3.200,3.320,1.80,0.000,11.320,11.320,GBR,,European Championships,semi,2022,Rimini
3,587,51,1st,SONGHURST Isabelle,4.1,17.7,15.775,9.2,0.0,46.775,58.020,GBR,,World Championships,qual,2021,Baku
4,588,51,2nd,SONGHURST Isabelle,3.0,3.2,3.245,1.8,0.0,11.245,58.020,GBR,,World Championships,qual,2021,Baku
5,881,15,1st,SONGHURST Isabelle,5.1,17.1,16.28,9.4,0.0,47.88,101.965,GBR,Q,World Championships,qual,2019,Tokyo
6,882,15,2nd,SONGHURST Isabelle,13.8,15.3,15.385,9.6,0.0,54.085,101.965,GBR,Q,World Championships,qual,2019,Tokyo
7,1019,10,1,SONGHURST Isabelle,13.800,15.300,15.330,9.300,0.0,53.730,53.730,GBR,R1,World Championships,semi,2019,Tokyo

In [37]:
df_select = df[df["Name"] == "PAGE Bryony"]
df_select.values[:,4:8]

array([['15.00', '15.800', '15.220', '9.60'],
       ['14.60', '15.500', '14.900', '8.90'],
       ['15.00', '16.300', '15.160', '9.20'],
       ['15.00', '16.200', '15.110', '9.10'],
       ['5.0', '18.1', '16.07', '9.6'],
       ['15.0', '16.1', '15.055', '9.6'],
       ['15.000', '15.600', '15.015', '9.500'],
       ['15.200', '16.400', '15.635', '9.400'],
       ['4.5', '18.5', '15.975', '9.7'],
       ['14.4', '14.7', '15.475', '9.8'],
       ['14.400', '13.800', '15.165', '9.100'],
       ['5.0', '18.0', '16.55', '9.3'],
       ['15.0', '15.8', '15.61', '9.4'],
       ['15.000', '15.800', '15.535', '9.400']], dtype=object)

In [57]:
df_melt = pd.melt(df_select, id_vars=['Rank','Name','Event', 'Routine', 'index', 'Country', 'Pen.', 'Total', 'End', 'Phase', 'Qualified', 'Location', 'Year'], var_name='Rating').sort_values(['Rank', 'Name'])

In [59]:
df_melt["value"]

0      15.00
1      14.60
2      15.00
3      15.00
7     15.200
14    15.800
15    15.500
16    16.300
17    16.200
21    16.400
28    15.220
29    14.900
30    15.160
31    15.110
35    15.635
42      9.60
43      8.90
44      9.20
45      9.10
49     9.400
4        5.0
5       15.0
11       5.0
12      15.0
13    15.000
18      18.1
19      16.1
25      18.0
26      15.8
27    15.800
32     16.07
33    15.055
39     16.55
40     15.61
41    15.535
46       9.6
47       9.6
53       9.3
54       9.4
55     9.400
6     15.000
20    15.600
34    15.015
48     9.500
8        4.5
9       14.4
22      18.5
23      14.7
36    15.975
37    15.475
50       9.7
51       9.8
10    14.400
24    13.800
38    15.165
52     9.100
Name: value, dtype: object

In [46]:
test

index     0           0
          1           1
          112       112
          136       136
          491       491
                  ...
Location  870     Tokyo
          1024    Tokyo
          1084    Tokyo
          1085    Tokyo
          1113    Tokyo
Length: 238, dtype: object

In [76]:
df_test = pd.read_sql("SELECT * from ranklists where name='SONGHURST Isabelle'", connection)
df_test.head()

,index,Rank,Routine,Name,D,E,T,H,Pen.,Total,End,Country,Qualified,Event,Phase,Year,Location
0,2,2,1st,SONGHURST Isabelle,13.80,16.000,15.410,9.40,0.000,54.610,54.610,GBR,G,European Championships,qual,2022,Rimini
1,3,2,2nd,SONGHURST Isabelle,3.00,3.000,3.340,1.80,0.000,11.140,54.610,GBR,G,European Championships,qual,2022,Rimini
2,134,23,1,SONGHURST Isabelle,3.00,3.200,3.320,1.80,0.000,11.320,11.320,GBR,,European Championships,semi,2022,Rimini
3,587,51,1st,SONGHURST Isabelle,4.1,17.7,15.775,9.2,0.0,46.775,58.020,GBR,,World Championships,qual,2021,Baku
4,588,51,2nd,SONGHURST Isabelle,3.0,3.2,3.245,1.8,0.0,11.245,58.020,GBR,,World Championships,qual,2021,Baku

In [77]:
df_test2 = pd.read_sql("select * from (SELECT * from ranklists where name='SONGHURST Isabelle') where event='European Championships'", connection)
df_test2.head()

,index,Rank,Routine,Name,D,E,T,H,Pen.,Total,End,Country,Qualified,Event,Phase,Year,Location
0,2,2,1st,SONGHURST Isabelle,13.80,16.000,15.410,9.40,0.000,54.610,54.610,GBR,G,European Championships,qual,2022,Rimini
1,3,2,2nd,SONGHURST Isabelle,3.00,3.000,3.340,1.80,0.000,11.140,54.610,GBR,G,European Championships,qual,2022,Rimini
2,134,23,1,SONGHURST Isabelle,3.00,3.200,3.320,1.80,0.000,11.320,11.320,GBR,,European Championships,semi,2022,Rimini